.book-header {
	display: flex;
	gap: 24px;
	align-items: center;
	margin-bottom: 24px;
}

.book-cover {
	width: 120px;
	height: 180px;
	object-fit: cover;
	border-radius: 12px;
	box-shadow: var(--box-shadow);
}

.book-author {
	margin-top: 8px;
	color: var(--main-gray);
	font-size: 1.1rem;
}