:root {
	--light-green:  #d1e7dd;
	--main-green:   #399936; /* logo ifce */
	--dark-green:   #0f5132;
	--light-red:    #ffcdcd;
	--main-red:     #ca1517; /* logo ifce */
	--dark-red:     #86181d;
	--light-yellow: #fff3cd;
	--main-yellow:  #ffc107;
	--dark-yellow:  #856404;
	--light-blue:   #e4ebf4;
	--main-blue:    #0d6efd;
	--dark-blue:    #0d3b66;
	--light-gray:   #e2e3e5;
	--main-gray:    #999999;
	--dark-gray:    #41464b;

	--header-green: #2D6C40;
	--text-black:   #281e17; /* logo ifce */
	--text-white:   #ffffff;
	--main-black:   #0b0b0b;
	--main-white:   #f4f4f4;

	--fancy-orange:  linear-gradient(#f0cc74, #f0865f); /* logo léamp */
	--fancy-teal:    linear-gradient(#acdccc, #5d9b98); /* logo léamp */
	--fancy-green:   linear-gradient(#8fa754, #1c4032); /* logo léamp */
	--fancy-magenta: linear-gradient(#f0a6c1, #e04e9c);

	--box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--main-white);
	color:            var(--text-black);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* HEADER */

header {
	background-color: var(--header-green);
	color: var(--text-white);
	padding: 16px 24px;
	display: flex;
	align-items: center;
	gap: 16px;
	box-shadow: var(--box-shadow);
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

header img {
	height: 128px;
	width: 128px;
	object-fit: contain;
}

header > div {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	margin-bottom: -16px;
}

header nav {
	margin-top: auto;
}

header h1 {
	font-size: 2rem;
}

/* NAVBAR */

nav {
	background: var(--header-green);
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

nav li {
	border-right: 1px solid rgba(255,255,255,0.2);
}

nav a {
	display: block;
	padding: 14px 20px;
	color: var(--text-white);
	text-decoration: none;
}

nav a:hover {
	background: var(--main-green);
}

/* botão hambúrguer */

.menu-toggle {
	display: none;
	background: none;
	border: none;
	color: var(--text-white);
	font-size: 2rem;
	padding: 10px 20px;
	cursor: pointer;
}

/* botão kebab */

.side-toggle {
	display: none;
	background: none;
	border: none;
	color: var(--header-green);
	font-size: 2rem;
	padding: 10px 20px;
	cursor: pointer;
}

/* LAYOUT */

.container {
	display: flex;
	flex: 1;
}

/* SIDEBAR */

aside {
	width: 210px;
	background: white;
	padding: 20px;
	border-right: 1px solid var(--main-gray);
}

aside h2 {
	margin-bottom: 16px;
	font-size: 1.2rem;
	color: var(--header-green);
}

aside ul {
	list-style: none;
}

aside li {
	margin-bottom: 10px;
}

aside a {
	color: var(--dark-gray);
	cursor: pointer;
}

aside a:hover {
	color: var(--main-green);
}

/* MAIN */

main {
	flex: 1;
	padding: 24px;
}

main h2 {
	margin-bottom: 16px;
	color: var(--header-green);
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

main h3 {
	margin-top: 8px;
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

main a:link {
	color: var(--main-green);
}

main a:visited {
	color: var(--main-blue);
}

blockquote {
	margin-top: 8px;
	padding-left: 12px;
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-style: italic;
	font-weight: 700;
	font-style: normal;
	border-left: 4px solid var(--main-gray);
	color:                 var(--dark-gray);
}

blockquote:before {
	content: "“";
	font-size: 1.5rem;
}

blockquote:after {
	content: "„";
	font-size: 1.5rem;
}

/* TABELAS */

table {
	border-radius: 20px;
	box-shadow: var(--box-shadow);
}

table thead {
	background-color: var(--header-green);
	color:            var(--text-white);
}

table thead th:first-child {
	border-top-left-radius: 20px;
}

table thead th:last-child {
	border-top-right-radius: 20px;
}

tbody tr:nth-child(even) {
	background-color: white !important;
}

table tbody tr:hover {
	background-color: var(--light-gray) !important;
}

table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 20px;
}

table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 20px;
}

.user-inline {
	display: flex;
	align-items: center;
	gap: 10px;
}

.mini-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.rating {
	font-size: 1.3rem;
	background-image: var(--fancy-orange);
	color: transparent;
	background-clip: text;
}

/* ERROS */

h2.error {
	margin-bottom: 16px;
	color: var(--main-red);
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

/* MAIN PAGE */

.main-page-container {
	max-width: 600px;
	margin: auto;
	padding: 24px;
}

.main-page {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 24px;
	border-radius: 24px;
	background: white;
	box-shadow: var(--box-shadow);
}

/* FORMULÁRIOS */

form.inline-form {
	display: contents;
}

form input {
	padding: 12px;
	border-radius: 12px;
	border: 1px solid #ccc;
	font-size: 1rem;
}

form select {
	padding: 12px;
	border-radius: 12px;
	border: 1px solid #ccc;
	font-size: 1rem;
}

form textarea {
	padding: 12px;
	border-radius: 12px;
	border: 1px solid #ccc;
	font-size: 1rem;
	resize: none;
}

.button {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding: 12px 18px;
	border: none;
	border-radius: 14px;
	background: var(--main-gray);
	color: #FFFFFF !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	appearance: none;
	-webkit-appearance: none;
	transition: transform 0.2s, filter 0.2s;
}

button.button {
	font-family: "Roboto Slab", serif;
}

.button:hover {
	transform: translateY(-2px);
	filter: brightness(1.05);
}

.button.red {
	background: var(--main-red);
}

.button.green {
	background: var(--main-green);
}

.button.blue {
	background: var(--main-blue);
}

.status {
	display: inline-block;
	padding: 4px 10px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 0.9rem;
	width: fit-content;
	background: var(--light-gray);
	color:      var(--dark-gray);
}

.status.green {
	background: var(--light-green);
	color:      var(--dark-green);
}

.status.yellow {
	background: var(--light-yellow);
	color:      var(--dark-yellow);
}

.status.red {
	background: var(--light-red);
	color:      var(--dark-red);
}

.status.blue {
	background: var(--light-blue);
	color:      var(--dark-blue);
}

/* AVATAR */

.avatar-wrapper {
	position: relative;
	width: 64px;
	height: 64px;
	flex-shrink: 0;
}

.avatar {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	object-fit: cover;
}

.avatar + .crown {
	display: block;
}

.crown {
	position: absolute;
	top: -4px;
	right: 4px;
	width: 64px;
	pointer-events: none;
}

/* SMALL CARD */

.small-card-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 20px;
}

.small-card {
	display: flex;
	align-items: center;
	padding: 14px 16px;
	border-radius: 16px;
	box-shadow: var(--box-shadow);
	width: fit-content;
	max-width: 500px;
	gap: 0px 16px;

	background:            var(--light-gray);
	border-left: 6px solid var(--main-gray);
	color:                 var(--dark-gray);

	animation: fadeIn 0.2s ease;
}

.small-card.green {
	background:        var(--light-green);
	border-left-color: var(--main-green);
	color:             var(--dark-green);
}

.small-card.red {
	background:        var(--light-red);
	border-left-color: var(--main-red);
	color:             var(--dark-red);
}

.small-card.blue {
	background:        var(--light-blue);
	border-left-color: var(--main-blue);
	color:             var(--dark-blue);
}

.small-card.yellow {
	background:        var(--light-yellow);
	border-left-color: var(--main-yellow);
	color:             var(--dark-yellow);
}

.small-card .info {
	display: flex;
	flex-direction: column;
	gap: 8px 0px;
}

.small-card .extra {
	display: flex;
	flex-direction: column;
	gap: 8px 0px;
}

.title {
	font-weight: bold;
	font-size: 1.2rem;
	text-decoration: none;
	font-family: "Roboto Slab", serif;
	color: var(--text-black) !important;
}

a.title:hover {
	text-decoration: underline;
}

.subtitle {
	margin-top: -6px;
	color: var(--text-black);
}

.deadline {
	color: var(--main-gray);
	font-size: 0.9rem;
}

.red .deadline { /* Overdue */
	color: var(--main-red);
	font-weight: bold;
	animation: breathe 2s ease-in-out infinite;
	transform-origin: left;
}

.ranking-position {
	font-size: 1.4rem;
	font-weight: bold;
	min-width: 30px;
	color: var(--main-red);
}

/* BIG CARD */

.big-card-container {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin: 20px;
}

.big-card {
	background: white;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	border-radius: 16px;
	padding: 16px;
	margin-bottom: 16px;
	box-shadow: var(--box-shadow);
	width: fit-content;
	max-width: 500px;
	gap: 16px;
}

.big-card .avatar-wrapper {
	grid-column: 1;
	grid-row: 1;
}

.big-card .info {
	grid-column: 2;
	grid-row: 1;
	gap: 8px 0px;
}

.big-card .extra {
	grid-column: 1 / -1;
	grid-row: 2;
	gap: 8px 0px;
}

.big-card .extra {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;

	margin-top: auto;
}


/* FLASH MESSAGES */

.flash {
	padding: 12px 16px;
	margin-bottom: 20px;
	border-radius: 0px 0px 12px 12px;
	font-weight: bold;
	position: fixed;
	align-self: end;

	animation:
		flash-slide-in 0.3s ease,
		flash-fade-out 0.5s ease 4.5s forwards;
}

.flash.hide {
	opacity: 0;
	transform: translateY(-10px);
}

.flash.success {
	background: var(--light-green);
	color:      var(--dark-green);
}

.flash.error {
	background: var(--light-red);
	color:      var(--dark-red);
}

.flash.warning {
	background: var(--light-yellow);
	color:      var(--dark-yellow);
}

/* FOOTER */

footer {
	background-color: var(--dark-gray);
	color:            var(--light-gray);
	padding: 24px;
	margin-top: auto;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.footer-logos {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-logos img {
	height: 100px;
	object-fit: contain;
	background: white;
	padding: 4px;
	border-radius: 6px;
}

.footer-text {
	font-size: 0.9rem;
	line-height: 1.5;
}

/* ANIMAÇÕES */

.hidden {
	display: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(6px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes flash-slide-in {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes flash-fade-out {
	to {
		opacity: 0;
		transform: translateY(-10px);
		pointer-events: none;
	}
}

@keyframes breathe {
	0%,
	100% {
		transform: scale(1);
		opacity: 0.8;
	}

	50% {
		transform: scale(1.08);
		opacity: 1;
	}
}

/* RESPONSIVO */

@media (max-width: 768px) {

	.container {
		flex-direction: column;
	}

	aside {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #ddd;
	}

	nav ul {
		flex-direction: column;
	}

	nav li {
		border-right: none;
		border-top: 1px solid rgba(var(--main-black),0.2);
	}

	header {
		flex-direction: column;
		text-align: center;
	}

	.footer-content {
		flex-direction: column;
		text-align: center;
	}

	.menu-toggle {
		display: block;
	}

	.side-toggle {
		display: block;
	}

	#nav-menu {
		display: none;
		flex-direction: column;
		width: 100%;
	}

	#nav-menu.active {
		display: flex;
	}

	#side-menu {
		display: none;
		flex-direction: column;
		width: 100%;
	}

	#side-menu.active {
		display: flex;
	}
}