@media (prefers-color-scheme: dark) {
	:root {
		--box-shadow: 0 4px 16px rgba(255,255,255,0.08);
	}

	body {
		background-color: var(--main-black);
		color:            var(--main-white);
	}

	nav a {
		color: var(--text-white);
	}

	/* SIDEBAR */

	aside {
		background-color: black;
		border-right: 1px solid var(--dark-gray);
	}

	aside a {
		color: var(--light-gray);
	}

	/* MAIN */

	blockquote {
		border-left: 4px solid var(--main-gray);
		color: var(--light-gray);
	}

	/* TABELAS */

	tbody tr:nth-child(even) {
		background-color: black !important;
	}

	table tbody tr:hover {
		background-color: var(--dark-gray) !important;
	}

	/* FORMULÁRIOS */

	.main-page {
		background: black;
	}

	form input {
		border: 1px solid #444;
	}

	form select {
		border: 1px solid #444;
	}

	form textarea {
		border: 1px solid #444;
	}

	.status {
		background: var(--dark-gray);
		color:      var(--light-gray);
	}

	.status.green {
		background: var(--dark-green);
		color:      var(--light-green);
	}

	.status.yellow {
		background: var(--dark-yellow);
		color:      var(--light-yellow);
	}

	.status.red {
		background: var(--dark-red);
		color:      var(--light-red);
	}

	.status.blue {
		background: var(--dark-blue);
		color:      var(--light-blue);
	}

	/* SMALL CARD */

	.small-card {
		background:            var(--dark-gray);
		border-left: 6px solid var(--main-gray);
		color:                 var(--light-gray);
	}

	.small-card.green {
		background:        var(--dark-green);
		border-left-color: var(--main-green);
		color:             var(--light-green);
	}

	.small-card.red {
		background:        var(--dark-red);
		border-left-color: var(--main-red);
		color:             var(--light-red);
	}

	.small-card.blue {
		background:        var(--dark-blue);
		border-left-color: var(--main-blue);
		color:             var(--light-blue);
	}

	.small-card.yellow {
		background:        var(--dark-yellow);
		border-left-color: var(--main-yellow);
		color:             var(--light-yellow);
	}

	.title {
		color: var(--text-white) !important;
	}

	.subtitle {
		color: var(--text-white);
	}

	/* BIG CARD */

	.big-card {
		background: black;
	}

	.small-card .title {
		color: var(--text-white) !important;
	}

	.small-card .subtitle {
		color: var(--text-white);
	}

	/* FLASH MESSAGES */

	.flash.success {
		background: var(--dark-green);
		color:      var(--light-green);
	}

	.flash.error {
		background: var(--dark-red);
		color:      var(--light-red);
	}

	.flash.warning {
		background: var(--dark-yellow);
		color:      var(--light-yellow);
	}

	/* RESPONSIVO */

	@media (max-width: 768px) {
		aside {
			border-bottom: 1px solid #444;
		}

		nav li {
			border-top: 1px solid rgba(var(--main-black),0.2);
		}
	}
}